

#contactosdiv{
    margin: 6px;
    width: 90%;
    padding: 3rem;
    border:3px solid #5fa2db;
    border-radius: 25px;
    background-color: #212121;
    color: whitesmoke;
    text-align: center;
    transition-duration: 1000ms;
}

#contactosdiv:hover{
    background-color:#5fa2db;
    transition-duration: 1000ms;
    border-color: #212121;
}

#contactosdiv input {
    font-size: 125%;
}